.js-widget-overlay{
    z-index: 10001; 
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.8;
    background-color: #000;
}


.js-widget-dialog{
    position: fixed;
    height: 300px;
    width: 300px;
    background: red;
    color: #fff;
    z-index: 10002;
}


.js-widget-title {
    color: green;
    font: 20px;
}